.venv/
__pycache__/
*.pyc

# Data and Assets
data/
assets/
results/

# Models and Checkpoints
models/checkpoints/
models/checkpoints_tf/
models/exports/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
